{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}

    <h1>Review Details</h1>
    <div class="row">
        <div class="col col-lg-5">
            <br>
            <img src="/uploads/images/{{ review.image }}"width="250" height="300">
        </div>
        <div class="col col-lg-7">
            <div class="row"><p></p></div>
            <div class="row">
                <p class="lead"><b>Author: </b>{{ review.author.firstName}} {{ review.author.surname}}</p>
            </div>
            <div class="row">
                <p class="lead"><b>Price Paid: </b>€{{ review.price }}</p>
            </div>
            <div class="row">
                <p class="lead"><b><i class="fas fa-calendar-alt"></i>  {{ review.publishedAt ? review.publishedAt|date('Y-m-d') : '' }}</b></p>
            </div>
            <div class="row">
                <p class="lead"><b>Retailers: </b>{{ review.retailers }}</p>
            </div>
            <div class="row">
                {% if (review.isPublicReview) %}
                    <p class="lead"><b>Public Drink: Yes</b></p>
                {% else %}
                    <p class="lead"><b>Public Drink: No</b></p>
                {% endif %}
            </div>
            <div class="row">
                <p class="lead"><b>Number of Stars: </b>{{ review.stars }}</p>
            </div>
            <div class="row">
                <p class="lead"><b>Summary: </b>{{ review.summary }}</p>
            </div>
        </div>
    </div>

    <th>Recipe</th>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <td>{{ review.recipe.title}}</td>
    {% endif %}
    <a href="{{ path('review_index') }}">back to list</a>

    <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>

    {% include 'review/_delete_form.html.twig' with {'identifier': review.id} only %}

{% endblock %}