{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by Number of Stars
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ path('review_showReview', {'sort': 2}) }}">Sort by # Stars, Ascending</a>
            <a class="dropdown-item" href="{{ path('review_showReview', {'sort': 3}) }}">Sort by # Stars, Descending</a>
        </div>
    </div>
    <h1 class="display-4">Review Index</h1>
    {% for review in reviews %}
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    {% if (review.image) %}
                        <img src="/uploads/images/{{ review.image }}"  width="200" height="200">
                        <br>
                    {% else %}
                        <img src="/uploads/images/9baa6480b73a5dbc33bd93e2e40d75f6.jpeg" width="200" height="200">
                        <br>
                    {% endif %}
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <p class="lead"><b>Author: </b><i class="fas fa-user"></i> {{ review.author.firstName}} {{ review.author.surname}}</p>
                    </div>
                    <div class="row">
                        <p class="lead"><b>Date Published: </b><i class="fas fa-calendar-alt"></i>  {{ review.publishedAt ? review.publishedAt|date('Y-m-d') : '' }}</p>
                    </div>
                    <div class="row">
                        <p class="lead"><b>Price Paid: </b>€{{ review.price }}</p>
                    </div>
                    <div class="row">
                        <p class="lead"><b>Number of Stars: </b>
                            {% if review.stars == 0 %}
                                0 Stars
                            {% elseif review.stars == 0.5 %}
                                <i class="fas fa-star-half" style="color: gold"></i>
                            {% elseif review.stars == 1 %}
                                <i class="fas fa-star" style="color: gold"></i>
                            {% elseif review.stars == 1.5 %}
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star-half" style="color: gold"></i>
                            {% elseif review.stars == 2 %}
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                            {% elseif review.stars == 2.5 %}
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star-half" style="color: gold"></i>
                            {% elseif review.stars == 3 %}
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                            {% elseif review.stars == 3.5 %}
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star-half" style="color: gold"></i>
                            {% elseif review.stars == 4 %}
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                            {% elseif review.stars == 4.5 %}
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star-half" style="color: gold"></i>
                            {% elseif review.stars == 5 %}
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="lead"><b>Summary: </b>{{ review.summary }}</p>
            </div>
            <div class="row">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <div class="col-lg-10">
                            <a href="{{ path('review_show', {'id': review.id}) }}" class="btn btn-outline-primary">View Review</a>
                            <a href="{{ path('review_edit', {'id': review.id}) }}" class="btn btn-outline-info">Edit Review</a>
                        </div>
                        <div class="col-lg-2">
                            {% include 'review/_delete_form.html.twig' with {'identifier': review.id} only %}
                        </div>
                    {% elseif(review.isPublicReview == true and app.user.username != review.author.username) %}
                        <div class="col-lg-10">
                            <a href="{{ path('review_show', {'id': review.id}) }}" class="btn btn-outline-primary">View Review</a>
                        </div>
                    {% elseif(app.user.username == review.author.username) %}
                        <div class="col-lg-10">
                            <a href="{{ path('review_show', {'id': review.id}) }}" class="btn btn-outline-primary">View Review</a>
                            <a href="{{ path('review_edit', {'id': review.id}) }}" class="btn btn-outline-info">Edit Review</a>
                        </div>
                        <div class="col-lg-2">
                            {% include 'review/_delete_form.html.twig' with {'identifier': review.id} only %}
                        </div>
                    {% endif %}
                {% else %}
                    <a href="{{ path('review_show', {'id': review.id}) }}" class="btn btn-outline-primary">View Review</a>
                {% endif %}
            </div>
        </div>

        <hr>
    {% else %}
        <div class="row">
            <p class="lead">No reviews for this drink</p>
        </div>
    {% endfor %}
{% endblock %}