{{ form_start(form) }}
    {#{{ form_widget(form) }}#}

        {# name field  - default rendering #}
        {{ form_row(form.title) }}

        {# products field #}
        {{ form_row(form.image) }}
<div>
    Products for this Category:
    <ul>
        {% for review in form.vars.value.reviews %}
            <li>
                <a href="{{ url('review_show', {'id':review.id}) }}">
                    {{ review.id }} :: {{ review.author.username }}
                </a>
            </li>
        {% else %}
            <li>
                (no reviews for this drink)
            </li>
        {% endfor %}
    </ul>
</div>

{# hide select rendering of products in a comment #}
<!--
    {{ form_widget(form.reviews) }}
        -->

<button>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}