
{{ form_start(form) }}

    {{ form_widget(form) }}

    Reviews for this Drink:
    <ul>
        {% for review in form.vars.value.reviews %}
            <li>
                <a href="{{ url('review_show', {'id':review.id}) }}">
                    Rating {{ review.stars }} By {{ review.author.firstName }} {{ review.author.surname }}
                </a>
            </li>
        {% else %}
            <li>
                No reviews for this drink
            </li>
        {% endfor %}
    </ul>
    <button name='btn_submit' class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
