{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}


{% block body %}
    {% set counter = 1 %}
    <div class="container">
        {% if (is_granted('IS_AUTHENTICATED_FULLY'))%}
            <a href="{{ path('recipe_new') }}" class="btn btn-outline-primary">Add New Drink</a>
            <br>
        {% endif %}
        {% for recipe in recipes %}
        {% if (is_granted('IS_AUTHENTICATED_FULLY')) or (recipe.isPublic == true)%}
        <div class="row">
            <div class="col col-lg-2">
                <img src="/uploads/images/{{ recipe.image }}" alt="{{ recipe.title }}" width="100" height="150">
            </div>
            <div class="col col-lg-6">
                <p></p>
                <div class="row"><h5><b><a href="{{ path('recipe_show', {'id': recipe.id}) }}">{{ recipe.title }}</a></b></h5></div>
                <div class="row"><p><b>Summary: </b>{{ recipe.summary }}</p></div>
                <div class="row"><p><b>Price Range: </b>€{{ recipe.price }}</p></div>
            </div>
            <i class="fa fa-comments" aria-hidden="true"></i> {{ 'post.num_comments'|transchoice(recipe.reviews|length) }}
            <div class="col col-lg-4">
                <h5>Last 5 Reviews</h5>
                {% for review in recipe.reviews %}
                    {% if (counter != 5) %}
                        {% if review.stars == 0 %}
                            0 Stars
                        {% elseif review.stars == 0.5 %}
                            <i class="fas fa-star-half"></i>
                        {% elseif review.stars == 1 %}
                            <i class="fas fa-star"></i>
                        {% elseif review.stars == 1.5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half"></i>
                        {% elseif review.stars == 2 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        {% elseif review.stars == 2.5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half"></i>
                        {% elseif review.stars == 3 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        {% elseif review.stars == 3.5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half"></i>
                        {% elseif review.stars == 4 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        {% elseif review.stars == 4.5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half"></i>
                        {% elseif review.stars == 5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        {% endif %}
                        <a href="{{ url('review_show', {'id':review.id}) }}">
                            By {{ review.author.firstName }}  {{ review.author.surname }}
                        </a>
                        <br>
                        {% set counter = counter + 1 %}
                    {% endif %}
                    {% set counter = 1 %}
                    {% else %}
                        <p>No reviews for this drink</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <br><br>
    {% endfor %}
    </div>
    <h1>Recipe index</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Image</th>
            <th>Ingredients</th>
            <th>Price</th>
            <th>Reviews</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.summary }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.image }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.price }}</td>
                <td>
                {% for review in recipe.reviews %}
                    {% if (is_granted('ROLE_ADMIN')) or (recipe.isPublic == false) %}
                    <a href="{{ url('review_show', {'id':review.id}) }}">
                        {{ review.id }} :: {{ review.author.username }}
                    </a>
                    {% endif %}
                {% else %}
                    (no reviews for this drink)
                {% endfor %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}