{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}

    <h1>Recipe index</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Image</th>
            <th>Ingredients</th>
            <th>Price</th>
            <th>Reviews</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.summary }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.image }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.price }}</td>
                <td>
                {% for review in recipe.reviews %}
                    <a href="{{ url('review_show', {'id':review.id}) }}">
                        {{ review.id }} :: {{ review.author }}
                    </a>
                {% else %}
                    (no products for this category)
                {% endfor %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}