{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
    <h1 class="display-4">{{ recipe.title }}</h1>
    <div class="row">

        <div class="col col-lg-3">
            <br>
            <img src="/uploads/images/{{ recipe.image }}" alt="{{ recipe.title }}" width="100" height="250">
        </div>
        <div class="col col-lg-9">
            <div class="row"><p></p></div>
            <div class="row">
                <p class="lead"><b>Price Range: </b>{{ recipe.price }}</p>
            </div>
            <div class="row">
                <p class="lead"><b>Ingredients: </b>{{ recipe.ingredients }}</p>
            </div>
            <div class="row">
                <p class="lead"><b>Author: </b>{{ recipe.author.firstName}} {{ recipe.author.surname}}</p>
            </div>
            <div class="row">
                {% if (recipe.isPublic) %}
                    <p class="lead"><b>Public Drink: Yes</b></p>
                {% else %}
                    <p class="lead"><b>Public Drink: No</b></p>
                {% endif %}
            </div>
            <div class="row">
                <p class="lead"><b>Description: </b>{{ recipe.description }}</p>
            </div>
            <div class="row">
                <p class="lead"><b>Summary: </b>{{ recipe.summary }}</p>
            </div>
        </div>
    </div>
    <br>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if (is_granted('ROLE_ADMIN') or app.user.username == recipe.author.username) %}
            <div class="row">
                <div class="col-lg-8">
                    <a href="{{ path('recipe_edit', {'id': recipe.id}) }}" class="btn btn-outline-success">Edit Drink</a>
                    {% include 'recipe/_delete_form.html.twig' with {'identifier': recipe.id} only %}
                </div>
                <div class="col-lg-4">
                    {% if (app.user.username == recipe.author.username and recipe.requestRecipePublic == false and recipe.isPublic == false) %}
                        <p class="lead">Request Drink to become Public</p>
                        <a href="{{ path('recipe_request_publish', {'id': recipe.id }) }}" class="btn btn-outline-primary">Request Be Made Public</a>
                    {% endif %}
                    {% if (is_granted('ROLE_ADMIN') and recipe.isPublic == false and recipe.requestRecipePublic == true) %}
                        <p class="lead">User Requests</p>
                        <a href="{{ path('recipe_publish_recipe', {'id': recipe.id }) }}" class="btn btn-outline-success">Accept Request to publish</a>
                        <a href="{{ path('recipe_reject_recipe', {'id': recipe.id }) }}" class="btn btn-outline-danger">Reject Request to publish</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    <br>
    <br>
    <div style="height: 50px; background-color: rgba(230, 255, 230,5.8);">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <p class="h1">Reviews</p>
            </div>
        </div>
    </div>
    <br>
    <a href="{{ path('review_new', {'recipeID': recipe.id}) }}" class="btn btn-outline-dark">Add New Review</a>
    <br>
    <br>
        {% for review in recipe.reviews %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="lead"><b> <i class="fas fa-user"></i>  {{ review.author.firstName}} {{ review.author.surname}}</b></p>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead"><b><i class="fas fa-calendar-alt"></i>  {{ review.publishedAt ? review.publishedAt|date('Y-m-d') : '' }}</b></p>
                    </div>
                </div>
                <div class="row">
                    <p class="lead"><b>Price Paid: </b>€{{ review.price }}</p>
                </div>
                <div class="row">
                    <p class="lead"><b>Number of Stars: </b>
                {% if review.stars == 0 %}
                    0 Stars
                {% elseif review.stars == 0.5 %}
                    <i class="fas fa-star-half"></i>
                {% elseif review.stars == 1 %}
                    <i class="fas fa-star"></i>
                {% elseif review.stars == 1.5 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                {% elseif review.stars == 2 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                {% elseif review.stars == 2.5 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                {% elseif review.stars == 3 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                {% elseif review.stars == 3.5 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                {% elseif review.stars == 4 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                {% elseif review.stars == 4.5 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                {% elseif review.stars == 5 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                {% endif %}
                    </p>
                </div>
                <div class="row">
                    <p class="lead"><b>Summary: </b>{{ review.summary }}</p>
                </div>
                <div class="row">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <div class="col-lg-10">
                            <a href="{{ path('review_show', {'id': review.id}) }}" class="btn btn-outline-primary">View Review</a>
                            <a href="{{ path('review_edit', {'id': review.id}) }}" class="btn btn-outline-info">Edit Review</a>
                        </div>
                        <div class="col-lg-2">
                            {% include 'review/_delete_form.html.twig' with {'identifier': review.id} only %}
                        </div>
                    {% elseif(app.user.username == review.author.username) %}
                    <div class="col-lg-10">
                        <a href="{{ path('review_show', {'id': review.id}) }}" class="btn btn-outline-primary">View Review</a>
                        <a href="{{ path('review_edit', {'id': review.id}) }}" class="btn btn-outline-info">Edit Review</a>
                    </div>
                    <div class="col-lg-2">
                        {% include 'review/_delete_form.html.twig' with {'identifier': review.id} only %}
                    </div>
                    {% endif %}
                {% else %}
                    <a href="{{ path('review_show', {'id': review.id}) }}" class="btn btn-outline-primary">View Review</a>
                {% endif %}
                </div>
            </div>
            <hr>
        {% else %}
        <div class="row">
            <p class="lead">No reviews for this drink</p>
        </div>
        {% endfor %}
    <a href="{{ path('recipe_index') }}" class="btn btn-outline-primary btn-block">Back to Drinks</a>
    <br>
    <br>
{% endblock %}
